/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Montserrat:400,400i,700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext");
@import url("https://use.typekit.net/hte0isi.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********** BASIC STYLES **********/
/* Google fonts:*/
/*Adobe fonts:*/
/********** MEDIA QUERIES **********/
/********** BASIC STYLES **********/
body {
  width: calc(100vw - (100vw - 100%));
}

.content-wrapper {
  font-family: 'Montserrat', 'courier-std', sans-serif;
  width: 320px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@media only screen and (min-width: 321px) {
  .content-wrapper {
    width: 100%;
    min-width: 320px;
    max-width: 1200px;
  }
}

.section-title {
  display: block;
  color: #fff;
  font-family: 'Montserrat', 'courier-std', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.3;
  padding: 0 5vw;
}

/********** HEADER  **********/
/* Julia Verchyonova */
.header {
  margin-bottom: 100px;
  width: 100%;
  position: relative;
  background: url("../img/background-header.png") no-repeat;
  background-position: top center;
  background-size: 1200px auto;
}

@media only screen and (min-width: 321px) {
  .header {
    background-size: 375vw auto;
  }
}

@media only screen and (min-width: 481px) {
  .header {
    background-size: 182.29167vw auto;
  }
}

@media only screen and (min-width: 993px) {
  .header {
    background-size: 116.66667vw auto;
  }
}

@media only screen and (min-width: 1201px) {
  .header {
    background-size: 1400px auto;
  }
}

.top-bar {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background-color: #27262a;
  border: 1px solid #27262a;
  color: #8d81ac;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 30px 15px;
}

@media only screen and (min-width: 321px) {
  .top-bar {
    padding: 9.375vw 4.6875vw;
  }
}

@media only screen and (min-width: 481px) {
  .top-bar {
    padding: 2.86458vw 2.60417vw 7.16146vw;
  }
}

@media only screen and (min-width: 993px) {
  .top-bar {
    padding: 2.5vw 7.5vw;
  }
}

@media only screen and (min-width: 1201px) {
  .top-bar {
    padding: 30px 90px;
  }
}

.top-logo {
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
}

.top-logo__img {
  width: 43px;
  height: 41px;
}

@media only screen and (min-width: 321px) {
  .top-logo__img {
    width: 13.4375vw;
    height: 12.8125vw;
  }
}

@media only screen and (min-width: 481px) {
  .top-logo__img {
    width: 5.59896vw;
    height: 5.33854vw;
  }
}

@media only screen and (min-width: 993px) {
  .top-logo__img {
    width: 3.58333vw;
    height: 3.41667vw;
  }
}

@media only screen and (min-width: 1201px) {
  .top-logo__img {
    width: 43px;
    height: 41px;
  }
}

.top-logo__img--hover {
  display: none;
}

.top-logo__name {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Lato', 'courier-std', sans-serif;
  display: none;
  font-size: 24px;
  margin-left: 17px;
}

@media only screen and (min-width: 321px) {
  .top-logo__name {
    font-size: 7.5vw;
    margin-left: 5.3125vw;
  }
}

@media only screen and (min-width: 481px) {
  .top-logo__name {
    display: block;
    font-size: 3.125vw;
    margin-left: 2.21354vw;
  }
}

@media only screen and (min-width: 993px) {
  .top-logo__name {
    font-size: 2vw;
    margin-left: 1.41667vw;
  }
}

@media only screen and (min-width: 1201px) {
  .top-logo__name {
    font-size: 24px;
    margin-left: 17px;
  }
}

@media only screen and (min-width: 993px) {
  .top-logo:hover .top-logo__img {
    display: none;
  }
  .top-logo:hover .top-logo__img--hover {
    display: block;
  }
}

@media only screen and (min-width: 993px) {
  .top-logo:hover .top-logo__name {
    color: #fff;
  }
}

.top-menu {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #333;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
  width: 290px;
}

@media only screen and (min-width: 321px) {
  .top-menu {
    width: 90.625vw;
  }
}

@media only screen and (min-width: 481px) {
  .top-menu {
    width: 100%;
    left: 0;
    -webkit-transform: translate(0, -4.94792vw);
    -ms-transform: translate(0, -4.94792vw);
    transform: translate(0, -4.94792vw);
    background-color: transparent;
    border: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    color: #8d81ac;
  }
}

@media only screen and (min-width: 993px) {
  .top-menu {
    position: static;
    width: 70%;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 480px) {
  .top-menu--hidden {
    display: none;
  }
}

.top-menu__item {
  border-bottom: 1px solid #666;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  position: relative;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  font-size: 19px;
}

@media only screen and (min-width: 321px) {
  .top-menu__item {
    padding-top: 6.875vw;
    padding-left: 10vw;
    padding-bottom: 7.8125vw;
    margin-bottom: 3.125vw;
    font-size: 5.9375vw;
  }
}

@media only screen and (min-width: 481px) {
  .top-menu__item {
    font-weight: 700;
    border: none;
    color: #8d81ac;
    margin-bottom: 0;
    padding: 0 3.125vw;
    font-size: 2.08333vw;
  }
}

@media only screen and (min-width: 993px) {
  .top-menu__item {
    padding: 0 2vw;
    font-size: 1.33333vw;
  }
  .top-menu__item:hover {
    color: #fff;
  }
}

@media only screen and (min-width: 1201px) {
  .top-menu__item {
    padding: 0 24px;
    font-size: 16px;
  }
}

.top-menu__item:first-child {
  color: #8d81ac;
  padding-top: 31px;
}

@media only screen and (min-width: 321px) {
  .top-menu__item:first-child {
    padding-top: 9.6875vw;
  }
}

@media only screen and (min-width: 481px) {
  .top-menu__item:first-child {
    padding-top: 0;
  }
}

@media only screen and (min-width: 993px) {
  .top-menu__item:first-child:hover {
    color: #fff;
  }
}

.top-menu__item:first-child::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-left: 8px solid #8d81ac;
}

@media only screen and (min-width: 321px) {
  .top-menu__item:first-child::before {
    border-left-width: 2.5vw;
  }
}

@media only screen and (min-width: 481px) {
  .top-menu__item:first-child::before {
    border: none;
  }
}

.top-button {
  cursor: pointer;
  width: 119px;
  height: 37px;
  background-color: #8d81ac;
  box-sizing: border-box;
  border: 1px solid #8d81ac;
  border-radius: 18.5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Montserrat', 'courier-std', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

@media only screen and (min-width: 321px) {
  .top-button {
    cursor: pointer;
    width: 37.1875vw;
    height: 11.5625vw;
    background-color: #8d81ac;
    box-sizing: border-box;
    border: 1px solid #8d81ac;
    border-radius: 5.78125vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Montserrat', 'courier-std', sans-serif;
    font-weight: 700;
    font-size: 4.6875vw;
  }
}

@media only screen and (min-width: 481px) {
  .top-button {
    cursor: pointer;
    width: 18.88021vw;
    height: 4.94792vw;
    background-color: #8d81ac;
    box-sizing: border-box;
    border: 1px solid #8d81ac;
    border-radius: 2.47396vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Montserrat', 'courier-std', sans-serif;
    font-weight: 700;
    font-size: 2.08333vw;
  }
}

@media only screen and (min-width: 993px) {
  .top-button {
    cursor: pointer;
    width: 12.08333vw;
    height: 3.16667vw;
    background-color: #8d81ac;
    box-sizing: border-box;
    border: 1px solid #8d81ac;
    border-radius: 1.58333vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Montserrat', 'courier-std', sans-serif;
    font-weight: 700;
    font-size: 1.33333vw;
  }
  .top-button:hover {
    background-color: #fff;
    color: #8d81ac;
  }
}

@media only screen and (min-width: 1201px) {
  cursor: pointer;
  width: 145px;
  height: 38px;
  background-color: #8d81ac;
  box-sizing: border-box;
  border: 1px solid #8d81ac;
  border-radius: 19px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Montserrat', 'courier-std', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.top-menu-button {
  display: block;
  box-sizing: border-box;
  border: none;
  width: 26px;
  height: 21px;
}

@media only screen and (min-width: 321px) {
  .top-menu-button {
    width: 8.125vw;
    height: 6.5625vw;
  }
}

@media only screen and (min-width: 481px) {
  .top-menu-button {
    display: none;
  }
}

.top-menu-button__img {
  width: 100%;
}

.title-page {
  text-align: center;
  font-family: 'Montserrat', 'courier-std', sans-serif;
  text-transform: capitalize;
  padding: 43px 0 350px;
}

@media only screen and (min-width: 321px) {
  .title-page {
    padding: 13.4375vw 0 109.375vw;
  }
}

@media only screen and (min-width: 481px) {
  .title-page {
    padding: 6.51042vw 0 63.41146vw;
  }
}

@media only screen and (min-width: 993px) {
  .title-page {
    padding: 5vw 0 40.58333vw;
  }
}

@media only screen and (min-width: 1201px) {
  .title-page {
    padding: 60px 0 487px;
  }
}

.title-page__title {
  color: #fff;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 15px;
}

@media only screen and (min-width: 321px) {
  .title-page__title {
    font-size: 11.875vw;
    padding-bottom: 4.6875vw;
  }
}

@media only screen and (min-width: 481px) {
  .title-page__title {
    font-size: 8.85417vw;
    padding-bottom: 1.30208vw;
  }
}

@media only screen and (min-width: 993px) {
  .title-page__title {
    font-size: 6.5vw;
    padding-bottom: 0.5vw;
  }
}

@media only screen and (min-width: 1201px) {
  .title-page__title {
    font-size: 78px;
    padding-bottom: 6px;
  }
}

.title-page__subtitle {
  color: #8d81ac;
  font-family: 'Lato', 'courier-std', sans-serif;
  line-height: 2;
  margin: 0;
  font-size: 16px;
}

@media only screen and (min-width: 321px) {
  .title-page__subtitle {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 481px) {
  .title-page__subtitle {
    text-transform: none;
    font-size: 2.86458vw;
  }
}

@media only screen and (min-width: 993px) {
  .title-page__subtitle {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 1201px) {
  .title-page__subtitle {
    font-size: 30px;
  }
}

.title-page__subsub {
  color: #848E97;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 14px;
}

@media only screen and (min-width: 321px) {
  .title-page__subsub {
    font-size: 3.75vw;
    margin-top: 4.375vw;
  }
}

@media only screen and (min-width: 481px) {
  .title-page__subsub {
    font-size: 1.82292vw;
    margin-top: 1.04167vw;
  }
}

@media only screen and (min-width: 993px) {
  .title-page__subsub {
    font-size: 1.16667vw;
    margin-top: 0.5vw;
  }
}

@media only screen and (min-width: 1201px) {
  .title-page__subsub {
    font-size: 14px;
    margin-top: 6px;
  }
}

.title-button {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 290px;
  height: 45px;
  background-color: #8d81ac;
  box-sizing: border-box;
  border: 1px solid #8d81ac;
  border-radius: 22.5px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  font-family: 'Montserrat', 'courier-std', sans-serif;
  font-weight: 700;
  font-size: 13px;
}

@media only screen and (min-width: 321px) {
  .title-button {
    cursor: pointer;
    width: 90.625vw;
    height: 14.0625vw;
    background-color: #8d81ac;
    box-sizing: border-box;
    border: 1px solid #8d81ac;
    border-radius: 7.03125vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Montserrat', 'courier-std', sans-serif;
    font-weight: 700;
    font-size: 4.0625vw;
  }
}

@media only screen and (min-width: 481px) {
  .title-button {
    cursor: pointer;
    width: 50.78125vw;
    height: 8.07292vw;
    background-color: #8d81ac;
    box-sizing: border-box;
    border: 1px solid #8d81ac;
    border-radius: 4.03646vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Montserrat', 'courier-std', sans-serif;
    font-weight: 700;
    font-size: 2.08333vw;
  }
}

@media only screen and (min-width: 993px) {
  .title-button {
    cursor: pointer;
    width: 32.5vw;
    height: 5.16667vw;
    background-color: #8d81ac;
    box-sizing: border-box;
    border: 1px solid #8d81ac;
    border-radius: 2.58333vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Montserrat', 'courier-std', sans-serif;
    font-weight: 700;
    font-size: 1.66667vw;
  }
  .title-button:hover {
    background-color: #fff;
    color: #8d81ac;
  }
}

@media only screen and (min-width: 993px) and (min-width: 1201px) {
  .title-button {
    cursor: pointer;
    width: 390px;
    height: 62px;
    background-color: #8d81ac;
    box-sizing: border-box;
    border: 1px solid #8d81ac;
    border-radius: 31px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Montserrat', 'courier-std', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
}

.title-button::after {
  content: 'Unlimited 30-Days Trial Period';
  position: absolute;
  color: #999;
  font-weight: 400;
  font-size: 14px;
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
}

@media only screen and (min-width: 321px) {
  .title-button::after {
    font-size: 4.375vw;
    -webkit-transform: translateY(12.5vw);
    -ms-transform: translateY(12.5vw);
    transform: translateY(12.5vw);
  }
}

@media only screen and (min-width: 481px) {
  .title-button::after {
    font-size: 1.82292vw;
    -webkit-transform: translateY(6.51042vw);
    -ms-transform: translateY(6.51042vw);
    transform: translateY(6.51042vw);
  }
}

@media only screen and (min-width: 993px) {
  .title-button::after {
    font-size: 1.25vw;
    -webkit-transform: translateY(4.16667vw);
    -ms-transform: translateY(4.16667vw);
    transform: translateY(4.16667vw);
  }
}

@media only screen and (min-width: 1201px) {
  .title-button::after {
    font-size: 15px;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }
}

/********** OVERVIEW SECTION  **********/
/* Olexander Shaporda */
.overview-section {
  padding-top: 121px;
  overflow: hidden;
}

.description {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
}

.description__header {
  color: #635c73;
  font-size: 19px;
  font-weight: 700;
  padding: 0 43px 23px 41px;
  text-transform: uppercase;
}

@media only screen and (min-width: 321px) {
  .description__header {
    font-size: 5.9375vw;
  }
}

@media only screen and (min-width: 481px) {
  .description__header {
    font-size: 3.90625vw;
  }
}

@media only screen and (min-width: 993px) {
  .description__header {
    font-size: 3.25vw;
  }
}

@media only screen and (min-width: 1201px) {
  .description__header {
    font-size: 39px;
  }
}

.description__text {
  margin: 0 auto;
  font-size: 10px;
  font-family: 'Lato', 'courier-std', sans-serif;
  padding: 0 30px 34px 24px;
  text-align: center;
}

@media only screen and (min-width: 321px) {
  .description__text {
    font-size: 3.125vw;
    width: 83.125vw;
  }
}

@media only screen and (min-width: 481px) {
  .description__text {
    font-size: 1.95313vw;
    width: 87.10938vw;
  }
}

@media only screen and (min-width: 993px) {
  .description__text {
    font-size: 1.25vw;
    width: 76.08333vw;
  }
}

@media only screen and (min-width: 1201px) {
  .description__text {
    font-size: 15px;
  }
}

.description__icons-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 31px 88px 37px;
}

.description__icons-block__btn-counter {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding: 0 13px 20px 13px;
}

.description__icons-block__btn-counter__icon-text {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  font-weight: 700;
  background-color: #f9f9f9;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.description__icons-block__btn-counter__numbers {
  line-height: 16px;
  vertical-align: center;
  font-size: 0.4em;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #d5d5d5;
  border-left: none;
  padding: 2px 5px;
}

.advantages {
  background-color: #fafafa;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .advantages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    align-items: center;
  }
}

.advantages-header {
  color: #8d81ac;
  margin: 34px 46px;
  font-size: 23px;
  font-weight: 700;
}

@media only screen and (min-width: 321px) {
  .advantages-header {
    font-size: 7.1875vw;
  }
}

@media only screen and (min-width: 481px) {
  .advantages-header {
    font-size: 3.90625vw;
  }
}

@media only screen and (min-width: 993px) {
  .advantages-header {
    font-size: 2.91667vw;
  }
}

@media only screen and (min-width: 1201px) {
  .advantages-header {
    font-size: 35px;
  }
}

.advantages-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

@media only screen and (min-width: 481px) {
  .advantages-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }
}

.advantages-block__img {
  padding: 0 30px;
  margin: 0 auto;
}

.advantages-block__content-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 25px;
}

@media only screen and (min-width: 481px) {
  .advantages-block__content-container {
    padding: 30px 37px 0 0;
    text-align: left;
    width: 65%;
  }
}

.advantages-block__content-container__subheader {
  font-size: 12px;
}

.advantages-block__content-container__text {
  color: #c0c4c9;
  font-size: 10px;
  padding: 20px 25px 37px 25px;
}

@media only screen and (min-width: 481px) {
  .advantages-block__content-container__text {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px) {
  .advantages__ide-img--mobile {
    display: none;
  }
}

.advantages__ide-img--pc {
  display: none;
}

@media only screen and (min-width: 993px) {
  .advantages__ide-img--pc {
    display: -webkit-box;
    display: flex;
  }
}

@media only screen and (min-width: 993px) {
  .advantages__header-image--pc {
    width: 45%;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 993px) {
  .advantages-block-container {
    width: 45%;
  }
}

/********** TESTIMONIALS SECTION  **********/
/* Julia Verchyonova */
.testimonials-section {
  width: 100%;
  box-sizing: border-box;
  background: #4b3b4e url("../img/background-testimonials.png") no-repeat;
  background-position: top center;
  background-size: 1400px auto;
  padding: 50px 30px;
}

@media only screen and (min-width: 321px) {
  .testimonials-section {
    background-size: 437.5vw auto;
    padding: 15.625vw 9.375vw;
  }
}

@media only screen and (min-width: 481px) {
  .testimonials-section {
    background-size: 156.25vw auto;
    padding: 8.59375vw 2.60417vw;
  }
}

@media only screen and (min-width: 993px) {
  .testimonials-section {
    background-size: 100vw auto;
    padding: 5.83333vw 4.16667vw;
  }
}

@media only screen and (min-width: 1201px) {
  .testimonials-section {
    background-size: 1200px auto;
    padding: 70px 50px;
  }
}

.testimonials-section .section-title {
  font-size: 38px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 321px) {
  .testimonials-section .section-title {
    font-size: 11.875vw;
    margin-bottom: 6.25vw;
  }
}

@media only screen and (min-width: 481px) {
  .testimonials-section .section-title {
    font-size: 5.20833vw;
    margin-bottom: 1.30208vw;
  }
}

@media only screen and (min-width: 993px) {
  .testimonials-section .section-title {
    font-size: 3.5vw;
    margin-bottom: 4.16667vw;
  }
}

@media only screen and (min-width: 1201px) {
  .testimonials-section .section-title {
    font-size: 42px;
    margin-bottom: 50px;
  }
}

.testimonials-section .section-footer {
  position: relative;
}

.testimonials-section .section-footer__text {
  display: none;
}

@media only screen and (min-width: 481px) {
  .testimonials-section .section-footer__text {
    display: block;
    margin: 0 auto;
    font-family: 'Lato', 'courier-std', sans-serif;
    color: #A291A5;
    text-align: center;
    line-height: 1.5;
    padding: 0 5.59896vw 2.60417vw;
    font-size: 1.82292vw;
  }
}

@media only screen and (min-width: 993px) {
  .testimonials-section .section-footer__text {
    padding: 0 18.33333vw 1.66667vw;
    font-size: 1vw;
  }
}

@media only screen and (min-width: 1201px) {
  .testimonials-section .section-footer__text {
    padding: 0 220px 20px;
    font-size: 12px;
  }
}

.testimonials-section .section-footer::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  border-bottom: 2px solid #685b6a;
  width: 280px;
}

@media only screen and (min-width: 481px) {
  .testimonials-section .section-footer::after {
    width: 87.5vw;
  }
}

@media only screen and (min-width: 481px) {
  .testimonials-section .section-footer::after {
    width: 91.14583vw;
  }
}

@media only screen and (min-width: 993px) {
  .testimonials-section .section-footer::after {
    width: 58.33333vw;
  }
}

@media only screen and (min-width: 1201px) {
  .testimonials-section .section-footer::after {
    width: 700px;
  }
}

.clients-container {
  display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 1fr;
  padding: 20px 0;
}

@media only screen and (min-width: 321px) {
  .clients-container {
    padding: 9.375vw 0;
  }
}

@media only screen and (min-width: 481px) {
  .clients-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3.90625vw 0;
  }
}

@media only screen and (min-width: 993px) {
  .clients-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0.83333vw 0;
  }
}

@media only screen and (min-width: 1201px) {
  .clients-container {
    padding: 10px 0;
  }
}

.client-box {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 20px 22px;
}

@media only screen and (min-width: 321px) {
  .client-box {
    padding: 6.25vw 6.875vw;
  }
}

@media only screen and (min-width: 481px) {
  .client-box {
    padding: 2.60417vw 2.86458vw;
  }
}

@media only screen and (min-width: 993px) {
  .client-box {
    padding: 1.66667vw 4.83333vw;
  }
}

@media only screen and (min-width: 1201px) {
  .client-box {
    padding: 20px 58px;
  }
}

.client-box__text {
  font-family: 'Lato', 'courier-stn', sans-serif;
  font-style: italic;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
  font-size: 18px;
  margin-top: 30px;
}

@media only screen and (min-width: 321px) {
  .client-box__text {
    font-size: 5.625vw;
    margin-top: 9.375vw;
  }
}

@media only screen and (min-width: 481px) {
  .client-box__text {
    font-size: 2.08333vw;
    margin-top: 1.30208vw;
  }
}

@media only screen and (min-width: 993px) {
  .client-box__text {
    font-size: 1.16667vw;
    margin-top: 0.83333vw;
  }
}

@media only screen and (min-width: 1201px) {
  .client-box__text {
    font-size: 14px;
    margin-top: 10px;
  }
}

/********** PRICING SECTION  **********/
/* Olexander Shaporda */
.pricing-section {
  padding: 73px 0 93px 0;
  background: #4b3b4e url("../img/background-subscription.png") no-repeat;
}

.subscription {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

@media only screen and (min-width: 481px) {
  .subscription {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 993px) {
  .subscription {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    justify-content: space-around;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.pricing-section__header {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 71px;
  text-align: center;
}

@media only screen and (min-width: 321px) {
  .pricing-section__header {
    font-size: 7.8125vw;
  }
}

@media only screen and (min-width: 481px) {
  .pricing-section__header {
    font-size: 3.90625vw;
  }
}

@media only screen and (min-width: 993px) {
  .pricing-section__header {
    font-size: 2.91667vw;
  }
}

@media only screen and (min-width: 1201px) {
  .pricing-section__header {
    font-size: 35px;
  }
}

.subscription-block {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  text-align: center;
  width: 257px;
  height: 457px;
  background-color: #5f5161;
  opacity: 0.8;
  color: #ffffff;
}

@media only screen and (max-width: 480px) {
  .subscription-block {
    margin-bottom: 14px;
  }
}

@media only screen and (min-width: 481px) {
  .subscription-block {
    margin: 20px;
  }
}

.subscription-block__header {
  height: 97px;
  background-color: #685b6a;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}

.subscription-block__bottom-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  height: 360px;
}

.subscription-block__price {
  font-size: 26px;
  font-weight: 700;
}

.subscription-block__period {
  display: inline-block;
  font-size: 12px;
  color: #7c707e;
  text-transform: uppercase;
  position: relative;
}

.subscription-block__period::after {
  content: '';
  width: 60px;
  border-bottom: solid 5px #8d81ac;
  position: absolute;
  top: 50px;
  right: 10px;
}

.subscription-block__benefits {
  font-size: 12px;
}

.subscription-block__button {
  background-color: #776b79;
  border-radius: 25px;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  width: 160px;
  height: 42px;
}

@media only screen and (min-width: 993px) {
  .subscription-block__button:hover {
    background-color: #d0cbd0;
    color: #7f6d78;
    font-weight: 700;
  }
}

.subscription-block-highlighted {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  text-align: center;
  width: 299px;
  height: 560px;
  color: #ffffff;
  background-color: #413344;
  opacity: 0.8;
}

@media only screen and (max-width: 480px) {
  .subscription-block-highlighted {
    margin-bottom: 14px;
  }
}

@media only screen and (min-width: 481px) {
  .subscription-block-highlighted {
    margin-top: 20px;
  }
}

.subscription-block-highlighted__header {
  background-color: #3a2d3d;
  font-size: 20px;
  text-transform: uppercase;
  height: 111px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.subscription-block-highlighted__bottom-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  height: 449px;
}

.subscription-block-highlighted__price {
  font-size: 48px;
  font-weight: 700;
}

.subscription-block-highlighted__period {
  display: inline-block;
  font-size: 14px;
  color: #7c707e;
  text-transform: uppercase;
  position: relative;
}

.subscription-block-highlighted__period::after {
  content: '';
  width: 60px;
  border-bottom: solid 5px #8d81ac;
  position: absolute;
  top: 50px;
  right: 10px;
}

.subscription-block-highlighted__benefits {
  font-size: 14px;
}

.subscription-block-highlighted__button {
  background-color: #5d5160;
  border-radius: 25px;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  width: 190px;
  height: 52px;
}

@media only screen and (min-width: 993px) {
  .subscription-block-highlighted__button:hover {
    background-color: #d0cbd0;
    color: #7f6d78;
    font-weight: 700;
  }
}
